.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}
.likeblue {
  color: #0ea5e9;
  font-weight: 500;
}
.grey {
  color: grey;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}
.logo {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  margin-right: 8px;
}
.name {
  font-family: 'Roboto';
  font-weight: bold;
  margin-right: 15px;
  font-size: 17px;
}
.time {
  font-family: 'Roboto';
  color: #94a3b8;
  font-size: 13px;
}
.comment {
  margin-left: 35px;
  margin-top: 0px;
  color: #64748b;
  font-family: 'Roboto';
}
.imageCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.likeCard {
  display: flex;
  align-items: center;
}

.likebtn {
  width: 19px;
  height: 17px;
  background-color: white;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.deletebtn {
  width: 12px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: transparent;
  border: 0px;
}
